
.navbar-default{
    
    padding: 1em;
}

.jumbotron>h1:after {
    background: #156491!important;
    content: '';
    display: block;
    height: 2px;
    position: relative;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

.navbox{
    background-position: 50% 50%;
    height:250px!important;
    background-image: url(/Includes/Hyatt-Place-Toronto-Mississauga-Centre-R005-Prefunction-Space.16x9.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    padding-top:1em;
}
@media(min-width:767px)
{
    .navbox{
        height:600px!important;
    }
}
.navbar-brand{
    height: inherit;
    padding: inherit;
}


.container-fluid{
    display:block;
    justify-content: center;
}
.navbar-nav{
    margin: 7.5px -15px;
}

.nav{
    padding: revert;
}

.jumbotron>h1{
    color:#0072ce;
    font-size:40px;
    font-weight: 700;
}
.jumbotron{
    margin-top:15px;
}